<footer
  class="row bg-success justify-content-center align-items-center position-absolute bottom-0 w-100"
  style="height: 80px"
>
  <section class="w-auto text-light">
    <ul>
      <li>
        Tuto from :
        <a
          href="https://www.geeksforgeeks.org/how-to-create-todo-list-in-angular-7/"
        >
          <img
            src="https://img.shields.io/badge/GeeksforGeeks-298D46?logo=geeksforgeeks&logoColor=white"
            alt="GeeksForGeeks"
          />
        </a>
      </li>
      <li>
        <a href="#">
  <img src="https://img.shields.io/badge/GitHub-%23121011.svg?logo=github&logoColor=white" alt="GitHub" />
</a>

      </li>
    </ul>
  </section>
</footer>
