<main>
  <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80px">
    <div
      class="col-12 col-md-6 bg-success d-flex justify-content-center align-items-center text-light h3 p-2"
    >
      <input
        [(ngModel)]="newTask"
        type="text"
        value=""
        class="col-7 form-control"
        style="width: 300px"
      />

      <div class="col-1"></div>

      <button (click)="addToList()" class="btn btn-light text-success">
        ADD TASK
      </button>
    </div>
  </div>

  <div *ngFor="let task of items; let i = index" class="">
    <app-task-item [task]="task" [index]="i" (delete)="deleteTask($event)" class="d-flex flex-column justify-content-center align-items-center">
    </app-task-item>
  </div>
</main>
